<%= form_with(model: @post, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="post_title">
    <%= image_tag(@post.picture.url) if @post.picture && @post.picture.url %>
    <%= form.label :picture, class: "label" %>
    <%= form.file_field :picture %>
    <%= form.hidden_field :picture_cache %>
  </div>
  <div class="post_title">
    <%= form.label :content, class: "label" %>
    <%= form.text_field :content, class: "input" %>
  </div>
  <%= form.submit "投稿する", class: "btn" %>
  <%= link_to "一覧画面にもどる", posts_path, class: "back" %>
<% end %>
