<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :picture %>
  <%= form.hidden_field :content %> 
  <p>タイトル:<%= @post.カラム名1 %></p>
  <p>本文:<%= @post.カラム名 %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
