<h1>詳細画面</h1>

<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @post.picture.url if @post.picture && @post.picture.url  %>
</p>
<p><%= @post.content %></p>
<%= link_to 'Edit', edit_post_path(@post), class: "btn" %>
<%= link_to 'Back', posts_path, class: "back" %>
